@use "../../styles/globals" as *;

.search-section {
    @include add_flex($ai: flex-start);
    flex-direction: row;
    width: 100%;
    text-align: start;
    &__wrapper {
        margin-left: 1.5rem;
        width: 100%;
    }
    .searchbar {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 760px) {
    .search-section {
        &__wrapper {
            margin-left: 0;
        }
    }
}