@use "../../styles/globals" as *;

.comments-section {
    width: 85%;
    margin: 0 auto;
    &__holder {
        @include add_flex($ai: flex-start);
        flex-direction: column;
        width: 100%;
        padding-top: 1rem;
        border-top: 1px solid #e0e0e7;
    }
}
@media screen and (max-width: 1000px) {
    .comments-section {
        width: 100%;
    }
}