@use "../../styles/globals" as *;

.recipe-details {
    @include add_flex($ai: flex-start);
    width: 85%;
    margin: 0 auto;
    &__about {
        @include add_flex($jc: flex-start);
        width: 100%;
        flex-direction: column;
        margin-right: 1.5rem;
        flex: 3;
    }

    &__img {
        display: inline-block;
        width: 100%;
        max-height: 280px;
        object-fit: cover;
        margin-bottom: 1rem;
    }

    &__description {
        text-align: start;
        margin-bottom: 1rem;
    }

    &__cooking {
        flex: 5;
    }

    &__ingredients {
        text-align: start;
        margin-bottom: 1rem;
        h3 {
            margin-bottom: 0.5rem;
        }
    }

    &__ingredients-item {
        @include add_flex($jc: space-between);
        position: relative;
        width: 100%;
        font-size: 15px;
        margin-bottom: 0.5rem;
        &:last-child {
            margin-bottom: 0;
        }
        span {
            position: relative;
            z-index: 10;
            background: #fff;
            padding: 0 0.2rem;
        }

        &:after {
            content: "..............................................................................................................................................................................................................";
            position: absolute;
            left: 0px;
            width: 100%;
            height: 100%;
            top: -3px;
            z-index: 1;
            overflow: hidden;
            color: #dad8d4;
            letter-spacing: 2px;
        }
    }
    &__title {
        font-family: "Cinzel", sans-serif;
        margin-bottom: 0.5rem;
        &--mobile {
            display: none;
        }
    }
    &__underline {
        border: 2px solid $orange-color;
        border-radius: 10px;
        width: 5rem;
        margin-bottom: 0.8rem;
    }

    &__instructions {
        text-align: start;
        h3 {
            margin-bottom: 0.5rem;
        }
        p {
            margin-bottom: 0.4rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .recipe-details {
        width: 100%;
        flex-direction: column;

        &__title {
            display: none;
            &--mobile {
                display: block;
            }
        }

        &__description {
            font-size: 20px;
        }
        &__article-title {
            font-size: 21px;
        }
        &__ingredients-item {
            font-size: 19px;
        }
        &__instructions-text {
            font-size: 20px;
        }
    }
}