@use "../../styles/globals" as *;

.recipeVideo {
    width: 85%;
    margin: 0 auto;
    &__title {
        margin: 0 auto;
        font-family: "Cinzel", sans-serif;
        margin-bottom: 1rem;
        max-width: 300px;
    }
    &__video {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .recipeVideo {
        width: 100%;
    }
}