@use "../../styles/globals" as *;

.random-recipes {
    background-color: $bg-grey;
    &__holder {
        @include add_grid;
        margin-bottom: 2.4rem;
    }
}

@media screen and (max-width: 1000px) {
    .random-recipes {
        &__holder {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 760px) {
    .random-recipes {
        &__holder {
            grid-template-columns: 100%;
        }
    }
}