@use "../../styles/globals" as *;

.navbar {
  @include add_flex();
  position: relative;
  height: 60px;
  border-bottom: 1px solid #e0e0e7;

  &__nav {
    @include add_flex();
    margin: 0 3rem;
    &--login {
      position: absolute;
      right: 0;
      top: 0;
      height: 60px;
      line-height: 60px;
      vertical-align: middle;
    }
  }
  &__nav-item:first-child {
    margin-right: 1.2rem;
  }
}