@use "../../styles/globals" as *;

.stats-card {
    @include add_flex;
    flex-direction: column;
    background-color: #fff;
    text-align: center;
    padding: 1.2rem 0.8rem;

    &__icon {
        font-size: 56px;
        color: $orange-color;
        line-height: 100%;
        margin-bottom: 0.5rem;
    }

    &__number {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 0.2rem;
    }

    &__name {
        font-size: 16px;
        text-transform: uppercase;
    }
}